<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title><%= title %> - Hotel Management</title>

  <!-- Bootstrap css -->
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
    integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2"
    crossorigin="anonymous"
  />

  <!-- Custom CSS files -->
  <link rel="stylesheet" href="/css/Stylr.css" />
  <link rel="stylesheet" href="/css/main.css" />

  <!-- jQuery UI theme -->
  <link
    rel="stylesheet"
    href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css"
  />

  <!-- Font Awesome -->
  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
  />

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
    rel="stylesheet"
  />
</head>
<body class="admin">
  <header id="admin-header">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/"><img src="/media/logo/aaa_logo.png" height="90px" alt="Logo" /></a>
      <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
      >
          <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse bg-dark w-100" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <% if (typeof user !== 'undefined' && user) { %>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                Hello, <%= user.username %> (<%= user.role %>)
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                <span class="dropdown-item">Hotel <b>Name hotel</b></span>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/profile"><i class="fa fa-user"></i> Profile</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/logout"><i class="fa fa-sign-out"></i> Logout</a>
              </div>
            </li>
          <% } else { %>
            <li class="nav-item">
              <a class="nav-link" href="/login">Login</a>
            </li>
          <% } %>
        </ul>
        
        <ul class="navbar-nav side-nav bg-dark text-light" id="nav-st">
          
          <% if (typeof user !== 'undefined' && user && user.role === 'admin') { %>
            <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
              <li class="nav-item"><a class="nav-link" href="/rooms">Rooms</a></li>
              <li class="nav-item"><a class="nav-link" href="/rooms/new">Add new Room</a></li>
              <li class="nav-item"><a class="nav-link" href="/bookings">Reservations</a></li>
              <!-- Add other admin-only links here, e.g. Customers, Bill -->
          <% } else if (typeof user !== 'undefined' && user && user.role === 'receptionist') { %>
              <li class="nav-item"><a class="nav-link" href="/booking">New Reservation</a></li>
              <li class="nav-item"><a class="nav-link" href="/bookings">All bookings</a></li>
              <li class="nav-item"><a class="nav-link" href="/rooms">Rooms</a></li>
          <% } %>
          
        </ul>
      </div>
    </nav>
  </header>

  <main id="admin-main" class="container">
    <%- body %>  <!-- EJS will inject the page-specific content here -->
  </main>

  <!-- jQuery -->
  <script
    src="https://code.jquery.com/jquery-3.5.1.min.js"
    integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
    crossorigin="anonymous"
  ></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
  <!-- Bootstrap JS -->
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
    crossorigin="anonymous"
  ></script>

  <!-- Custom JS -->
  <script src="/js/handle-home-form.js"></script>
  <script src="/js/parallax.js"></script>
  <script src="/js/smooth-scroll.js"></script>

  <!-- Chart JS -->
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"
    integrity="sha512-d9xgZrVZpmmQlfonhQUvTR7lMPtO7NkZMkA0ABN3PHCbKA5nqylQ/yWlFAyY6hYgdF1Qh6nYiuADWwKB4C2WSw=="
    crossorigin="anonymous"
  ></script>
  <script src="/js/chart_render.js"></script>
  <script>
    renderBooking();
    roomTypes();
  </script>
</body>
</html>
